/* STYLE GUIDE NAVIGATION */
#guide-nav {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
  gap: 1rem;
}

.element-main {
  margin: 0 20rem;
}

@media screen and (min-width: 0rem) {
  .element-main {
    margin: 0 1rem;
  }
  .img-case-study-half {
    width: 100%;
  }
}

@media screen and (min-width: 26rem) {
  #guide-nav {
    grid-template-columns: 1frs;
    grid-template-rows: 1fr;
  }

  .element-main {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 42rem) {
  #guide-nav {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
  }

  .element-main {
    margin: 0 10rem;
  }
  
  .img-case-study-half {
    width: 50%;
  }
}

@media screen and (min-width: 84rem) {
  #guide-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  .element-main {
    margin: 0 20rem;
  }
}