/* STYLE GUIDE NAVIGATION */
#guide-nav {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
  gap: 1rem;
}

.hero-landing {
  gap: 2rem;
  margin-bottom: 0;
  margin-top: 4rem;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.hero-about {
  display: grid;
  justify-content: left;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.work-container {
  border-radius: 2rem;
  background-color: var(--neutral-100);
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.title-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10vw,1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.grid-wrapper .small {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-wrapper .regular {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-wrapper .wide {
  grid-column: span 4;
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 4;
  grid-row: span 4;
}

.grid-overview {
  display: grid;
  gap: 4rem;
}

.ethnography-container {
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 0rem) {
  .element-main {
    margin: 0 1rem;
  }
  .element-secondary {
    margin: 0 1rem;
  }
  .img-case-study-half {
    width: 100%;
  }
  .hero-landing {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  .hero-about-container {
    margin: 4rem 0rem 0rem 0rem;
  }
  .hero-story-container{
    margin: 0rem 0rem 4rem 0rem;
  }
  .work-container {
    padding: 2rem 2rem 0 2rem;
  }
  .title-container {
    flex-direction: column-reverse;
    gap: 0.5rem;
    justify-content: start;
  }
  .grid-wrapper {
    margin: 1rem 1rem 2rem 1rem;
    grid-gap: 1rem;
  }
  .grid-overview {
    grid-template-columns: 1fr;
  }
  .ethnography-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 26rem) {
  #guide-nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .element-main {
    margin: 0 5rem;
  }
  .element-secondary {
    margin: 0 4rem;
  }
  .grid-wrapper {
    margin: 2rem 2rem 4rem 2rem;
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 42rem) {
  #guide-nav {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
  }
  .element-main {
    margin: 0 8rem;
  } 
  .element-secondary {
    margin: 0 6rem;
  }
  .img-case-study-half {
    width: 50%;
  }
  .hero-landing {
    display: flex;
    flex-direction: row;
  }
  .grid-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 50rem) {
  .title-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }
}

@media screen and (min-width: 66rem) {
  .hero-about {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
  .hero-about-container {
    margin: 4rem 0rem;
  }
  .hero-story-container{
    margin: 0rem 0rem 0rem 0rem;
  }
  .work-container {
    padding: 4rem 4rem 0 4rem;
  }
  .grid-overview {
    grid-template-columns: 2fr 1fr;
  }
  .ethnography-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 84rem) {
  #guide-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }
  .element-main {
    margin: 0 12rem;
  }
  .element-secondary {
    margin: 0 10rem;
  }
}

@media screen and (min-width: 98rem) {
  .element-main {
    margin: 0 20rem;
  }
  .element-secondary {
    margin: 0 16rem;
  }
}