html {
    font-size: 16px;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--neutral-000);
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-weight: 700;
    font-size: 1.65rem;
}

h4 {
    font-weight: 600;
    font-size: 1.2rem;
}

h5 {
    font-weight: 600;
    font-size: 1.1rem;
}

h6 {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0rem;
}

/*========== NAVIGATION BAR ==========*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid var(--neutral-100);
    background-color: var(--neutral-000);
    transition: 0.5s;
    margin: 0;
    margin-top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: var(--neutral-600);
    text-decoration: none;
    transition: 0.6s;
    padding: 0.5rem;
    border-radius: 10px;
}

.nav-link:hover,
.nav-link:focus {
    background-color: var(--neutral-200);
    border-radius: 10px;
    color: var(--neutral-900);
}

/*========== FOOTER ==========*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-top: 1px solid var(--neutral-100);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.footer-contact {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 1.25rem;
    padding: 0;
    margin: 0;
}

.footer-icon {
    transition: transform 0.3s, color 0.3s;
}

.footer-icon:hover {
    transform: scale(1.2);
}

.footer-links {
    gap: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-link {
    font-size: 1rem;
    font-weight: 600;
    color: var(--neutral-900);
    text-decoration: none;
    transition: 0.3s;
    margin: 0;
    align-self: center;
    text-align: center;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--indigo-900);
}

.footer-link:focus-visible {
    outline: 1px solid var(--indigo-900);
    color: var(--indigo-900);
    border-radius: 10px;
    padding: 0 0.2rem;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    align-self: center;
    text-align: center;
}

.footer-copyright {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--neutral-500);
    margin: 0;
    padding: 0;
    align-self: center;
    text-align: center;
}

.footer-note {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--neutral-400);
    margin: 0;
    padding: 0;
    align-self: center;
    text-align: center;
}

/*========== STYLE GUIDE ==========*/

code {
    background-color: var(--neutral-100);
    padding: 0.5rem;
    display: block;
    border-radius: 10px;
    color: var(--neutral-600);
    font-size: 0.9rem;
}

.element {
    padding: 1rem 0 2rem; /* top, right/left, bottom */
    border-top-width: 0.075rem;
    border-top-style: solid;
    border-top-color: var(--neutral-200);
}

.element>h4 {
    margin-bottom: 0.5rem;
}

#hero nav p {
    margin-bottom: 2rem;
}

section nav a {
    padding: 0.5rem;
    background-color: var(--bg);
    color: var(--neutral-600);
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
    outline: 1px solid var(--neutral-200);
    border-radius: 10px;
}

section nav a:hover,
nav a:focus {
    color: var(--neutral-900);
    background-color: var(--neutral-100);
}

section nav a:focus-visible {
    outline: 1px solid var(--indigo-900);
}

a:focus-visible {
    outline: 1px solid var(--indigo-900);
}

.color-palette {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 0.25rem;
}

.color>div {    
    border-radius: 10px;
    width: 5rem;
    height: 2rem;
    border: 1px solid var(--neutral-200);
}

.color>small {
    font-size: 0.75rem;
    font-weight: 400;
}

/* INTERACTIVE ELEMENTS */

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.primary-btn {
    padding: 0.6rem 1rem;
    background-color: var(--neutral-900);
    color: var(--neutral-000);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
.primary-btn:hover, .primary-btn:focus {
    background-color: var(--neutral-600);
}

.secondary-btn {
    padding: 0.5rem 1rem;
    background-color: var(--neutral-000);
    color: var(--neutral-600);
    outline: solid 1px var(--neutral-200);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.secondary-btn:hover, .secondary-btn:focus {
    background-color: var(--neutral-200);
}

.in-text-link,
p>a {
    color: var(--indigo-900);
    transition: color 0.5s;
    text-decoration: underline;
    font-weight: 600;
}

.in-text-link:hover,
p>a:hover {
    color: var(--indigo-600);
    text-decoration: underline;
}

.in-text-link:focus-visible,
p>a:focus-visible,
.image-link:focus-visible {
    text-decoration: none;
    outline: 1px solid var(--indigo-900);
    border-radius: 10px;
    padding: 0 0.2rem;
}

/* CONTENT */

.img-home {
    max-width: 100%;
    height: auto;
}

.img-bio {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(0.5rem 0.5rem 10px var(--neutral-200));
}

.img-case-study {
    width: 100%;
}

/* COMBINED ELEMENTS */

  .combined-element-container {
    border-radius: 10px;
    outline: 1px solid var(--neutral-200);
    padding: 0.5rem 0rem;
  }

/*========== HOME PAGE ==========*/

/* HERO */

  .hero-landing-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-width: 32rem;
  }

  .hero-landing-container h1 {
    margin: 0;
  }

  .hero-landing-container p {
    font-size: 1.25rem;
  }

  .hero-landing-container small {
    color: var(--neutral-500);
    font-size: 1rem;
    margin-bottom: 2rem;
  }

/*========== ABOUT PAGE ==========*/

/* HERO */

.hero-about-text{
    font-size: 1.1rem;
    font-weight: 700;
}

.hero-story-text{
    font-size: 1rem;
}

.hero-about h1 {
    margin-top: 1rem;
    font-size: 2rem;
}

.hero-about h2 {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.skills {
    border-top: 1px solid var(--neutral-200);
    margin-top: 2rem;
    padding-top: 1rem;
}

.skills-container {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.skills-container p {
    margin: 0.5rem 0;
    padding: 0;
}